html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #FAFEFF;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #6670804f;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #FAFEFF;  /* creates padding around scroll thumb */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #667080;
    background: #fafeff;
  }
}

@font-face {
  font-family: 'Minipax-Regular';
  src: url("/fonts/Minipax-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Minipax-SemiBold';
  src: url("/fonts/Minipax-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGrotesk-Regular';
  src: url("/fonts/SpaceGrotesk-Regular.ttf");
  font-display: swap;
}
