html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #121212;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #dbe2ec;
    background: #121212;
  }
}

@font-face {
  font-family: "BioRhyme-Light";
  src: url("/fonts/BioRhyme-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "BioRhyme-Medium";
  src: url("/fonts/BioRhyme-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cabin-Regular";
  src: url("/fonts/Cabin-Regular.ttf");
  font-display: swap;
}
